<h3>Register</h3>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="message {{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <label for="register-input-email">Email:</label>
            <input type="email" name="email" id="register-input-email">
        </p>
        <p>
            <label for="register-input-username">Username:</label>
            <input type="text" name="username" id="register-input-username">
        </p>
        <p>
            <label for="register-input-password">Password:</label>
            <input type="password" name="password" id="register-input-password">
        </p>
        <p>
            <label for="register-input-passwordConfirm">Confirm Password:</label>
            <input type="password" name="passwordConfirm" id="register-input-passwordConfirm">
        </p>
        <button type="submit">Register</button>
        <p>Already have an account? Click <a href="{% url 'login' %}">here</a></p>
    </form>