<html lang="en-US">
    <!DOCTYPE html>
    <html lang="en-US">
    <head>
        <title>Articles</title>
    </head>
    <body>
        {% if user.is_authenticated %}
        <h2>Your Articles</h2>
            <ul>
                {% if user_articles %}
                    {% for article in user_articles %}
                        <li><a href="/wiki/article/{{article.pk}}/">{{article.title}}</a></li>
                    {% endfor %}
                {% else %}
                    <p>You haven't written any articles yet.</p>
                {% endif %}
            </ul>
        {% endif %}

        <h2>Articles by Other Users</h2>

        {% for category, articles in categorized_articles.items %}
            <h3>{{ category.name }}</h3>

            {% for article in articles %}
                <p><a href="{% url 'wiki:article_detail' pk=article.pk %}">{{article.title}} </a></p>
            {% empty %}
            <p>No articles found in this category.</p>
            {% endfor %}

        {% empty %}
            <p>No Categories Available</p>
        {% endfor %}

        <p><a href="{% url 'wiki:article_create' %}">Create a new article</a></p>
    </body>
    </html>
