{% extends 'base.html' %}

{% block title %} {{ thread.title }} {% endblock %}

{% block content %}
    <h1> {{ thread.title }} </h1>
    <p> {{ thread.content }} </p>
    <p> Created on: {{ thread.created_on|date:"Y-m-d H:i" }} </p>
    <p> Last upadated: {{thread.updated_on|date:"Y-m-d H:i" }} </p>

    <h3> Comments </h3>
    <ul>
        {% for comment in comments %}
        <li>
            <strong> {{ comment.author.user.username }} </strong> <br> ({{ comment.created_on|date:"Y-m-d H:i" }})
            <p>{{ comment.content }}</p>
        </li>
        {% empty %}
            <li> No comments yet </li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated %}
        <h3> Leave a Comment </h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"> Submit </button>
        </form>
    {% else %}
        <p> You need to be logged in to leave a comment. </p>
    {% endif %}

    {% if user.is_authenticated and thread.author == user.profile %}
        <a href="{% url 'thread_update' thread.id %}"> Edit this thread </a>
    {% endif %}

    <h3> Related Threads </h3>
    <ul>
        {% for more_thread in more_threads %}
            <li>
                <a href="{% url 'thread_details' more_thread.id %}"> {{ more_thread.title }} </p>
            </li>
        {% empty %}
            <li> No related threads </li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'thread_list' %}"> Back to thread list </a></p>
{% endblock %}